<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moesee.moeseedemo.mapper.VideoMapper">

    <select id="getVideoIdByUrl" resultType="int">
        SELECT
            video_id AS videoId
        FROM
            videos
        WHERE
            video_url LIKE CONCAT('%',#{videoUrl},'%')
    </select>

    <select id="getVideoClusterIdByUrl" resultType="int">
        SELECT video_cluster_id AS videoClusterId
        FROM videos
        WHERE video_url LIKE CONCAT('%',#{videoUrl},'%')
    </select>

    <select id="findVideosByClusterId" resultType="com.moesee.moeseedemo.pojo.Video">
        SELECT
            video_id AS videoId,
            video_title AS videoTitle,
            video_tags AS videoTags,
            video_url AS videoUrl,
            video_views AS videoViews,
            video_duration AS videoDuration,
            video_cover_image AS videoCoverImage
        FROM
            videos
        WHERE
            FIND_IN_SET(#{clusterId}, video_cluster_id)
            AND (#{videoUrl} is NULL OR video_url NOT LIKE CONCAT('%',#{videoUrl},'%'))
        ORDER BY
            RAND()
        LIMIT
            #{limit}
    </select>

    <select id="getVideoViewsByVideoIdAndDate" resultType="int">
        SELECT
            COUNT(*)
        FROM
            view_history
        WHERE
            video_id = #{videoId}
            AND date = #{date}
    </select>
    <select id="getVideoLikesByVideoIdAndDate" resultType="int">
        SELECT
            COUNT(*)
        FROM
            like_history
        WHERE
            video_id = #{videoId}
            AND date = #{date}
    </select>

    <insert id="insertViewHistory">
        INSERT INTO view_history (user_id, video_id, date)
        VALUES (#{userId}, #{videoId}, #{date})
    </insert>

    <insert id="insertLikeHistory">
        INSERT INTO like_history (user_id, video_id, date)
        VALUES (#{userId}, #{videoId}, #{date})
    </insert>

    <update id="incrementVideoViews">
        UPDATE videos
        SET video_views = video_views + 1
        WHERE video_id = #{videoId}
    </update>

    <update id="incrementVideoLikes">
        UPDATE videos
        SET video_liked = video_liked + 1
        WHERE video_id = #{videoId}
    </update>



</mapper>